@page
@model WebStore.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head runat="server">
    <link rel="stylesheet" href="~/css/productStyles.css" type="text/css" />
    <title>Products</title>
</head>

<h1>Products</h1>
@*<img src="~/images/codeLaptop.jpg" alt="Guy gaming with RGBA headset" />*@
@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<div class="container">
        @foreach (var product in Model.Products)
        {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card text-center text-dark bg-light border-secondary mb-3" style="width: 25rem;">
                            <img class="card-img-top" src="@product.FilePath">
                            <div class="card-body">
                                <h4 class="card-title">@product.Name</h4>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">Price: $@product.Price</p>
                                

                                <button href="@product.FilePath" data-name="@product.Name" data-price="@product.Price"  type="button" class="add-to-cart btn btn-success" @*onclick="cartCounter()"*@>
                                    Add to cart
                                </button>


                            </div>
                        </div>
                    </div>
                </div>

                    }
            </div>
